{% extends "base.html.twig" %}

{% block body %}
    <section class="credits gutter">
        <h1 class="title-section">Mentions légales :</h1>
        <div class="credits-text">
            <p>Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la
                Confiance dans l'économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et
                visiteurs du site : <a href="http://www.monsite.fr" target="_blank">www.monsite.fr</a> les informations suivantes :
            </p>
            <h2 class="credits-title">1. Informations légales :</h2>
            <p>Le Propriétaire et créateur du site est : <strong>Vanessa FAYARD</strong></p>
            <p>Le Responsable de la  publication est : <strong>Vanessa FAYARD</strong></p>
            <p>Contacter le responsable de la publication : <a href="mailto:vanessa.fayard@gmail.com">vanessa.fayard@gmail.com</a></p>
            <p>Ce site est hébérgé par ...</p>
            <h2 class="credits-title">2. Présentation et principe :</h2>
            <p>
                Est désigné ci-après : <strong>Utilisateur</strong>, tout internaute se connectant et utilisant le site susnommé :
                <a href="http://www.monsite.fr" target="_blank">www.monsite.fr</a>.
            </p>
            <p>
                Le site <strong>www.monsite.fr</strong> regroupe un ensemble de services, dans l'état, 
                mis à la disposition des utilisateurs. Il est ici précisé que ces derniers doivent rester courtois et
                faire preuve de bonne foi tant envers les autres utilisateurs qu'envers le webmaster du site www.monsite.fr.
                Le site www.monsite.fr est mis à jour régulièrement par Vanessa FAYARD.<br />
                Vanessa FAYARD s’efforce de fournir sur le site www.monsite.fr des informations les plus précises possibles
                (sous réserve de modifications apportées depuis leur mise en ligne), mais ne saurait garantir l'exactitude,
                la complétude et l'actualité des informations diffusées sur son site, q’elles soient de son fait ou
                du fait des tiers partenaires qui lui fournissent ces informations.
                En conséquence, l'utilisateur reconnaît utiliser ces informations données
                (à titre indicatif, non exhaustives et susceptibles d'évoluer) sous sa responsabilité exclusive.
            </p>
            <h2 class="credits-title">3. Accessibilité :</h2>
            <p>
                Le site www.monsite.fr est par principe accessible aux utilisateurs 24/24h, 7/7j, sauf interruption,
                programmée ou non, pour les besoins de sa maintenance ou en cas de force majeure.
                En cas d’impossibilité d’accès au service, www.monsite.fr s’engage à faire son maximum
                afin de rétablir l’accès au service et s’efforcera alors de communiquer préalablement aux utilisateurs
                les dates et heures de l’intervention.  N’étant soumis qu’à une obligation de moyen,
                www.monsite.fr ne saurait être tenu pour responsable de tout dommage, quelle qu’en soit la nature,
                résultant d’une indisponibilité du service.
            </p>
            <h2 class="credits-title">4. Propriété intellectuelle :</h2>
            <p>
                Ce site relève de la législation française et de la réglementation internationale sur le droit d’auteur et la propriété intellectuelle.
            </p>
            <p>
                Tous les documents contenus sur le présent site, notamment les réalisations présente dans la section "Portfolio"
                sont soumis aux droits d’auteur et sont la propriété de Vanessa FAYARD, et de ses éventuels collaborateurs.
                Ils ne peuvent donc être utilisés qu’avec l’autorisation du (des) titulaire(s) de ces droits.
            </p>
            <p>
                Toute reproduction, représentation, transmission, modification ou réutilisation à des fins publicitaires ou
                commerciales de tout ou partie du site, hors les cas prévus par la législation, est strictement interdite.
            </p>
            <h2 class="credits-title">5. Protection des biens et des personnes - gestion des données personnelles :</h2>
            <p>
                En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978,
                la loi n° 2004-801 du 6 août 2004, l'article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.
            </p>
            <p>
                Sur le site www.monsite.fr, Vanessa FAYARD ne collecte des informations personnelles
                ( suivant l'article 4 loi n°78-17 du 06 janvier 1978) relatives à l'utilisateur que pour le besoin de
                certains services proposés par le site www.monsite.fr. L'utilisateur fournit ces informations en toute connaissance de cause,
                notamment lorsqu'il procède par lui-même à leur saisie. Il est alors précisé à l'utilisateur du site www.monsite.fr
                l’obligation ou non de fournir ces informations.
            </p>
            <p>
                Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique,
                aux fichiers et aux libertés, tout utilisateur dispose d’un droit d’accès, de rectification, de suppression et
                d’opposition aux données personnelles le concernant. Pour l’exercer, adressez votre demande à www.monsite.fr par email :
                <strong><a href="mailto:email.webmaster@gmail.com?subject=Contact ï¿½ partir des mentions lï¿½gales via le site www.monsite.fr">vanessa.fayard@gmail.com</a></strong>
            </p>
            <p>Aucune information personnelle de l'utilisateur du site www.monsite.fr n'est publiée à l'insu de l'utilisateur,
                échangée, transférée, cédée ou vendue sur un support quelconque à des tiers.
            </p>
            <p>Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la
                directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.
            </p>
        </div>
    </section>
{% endblock %}